<div class="col-md-12">
  <form class="form" [formGroup]="submitForm" (submit)="onSubmit($event)" id="contact-form">
    <div class="messages">
      <div *ngIf="showNotify" class="alert alert-{{postResult.type}} alert-dismissable">
        <button type="button" class="close" (click)="closeNotify()">×</button>
        {{ postResult.message }}
      </div>
    </div>
    <div class="controls">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group has-error has-danger">
            <label for="form_name">Name *</label>
            <input id="form_name" name="name" type="text" formControlName="name" placeholder="Name *">
            <div *ngIf="name.invalid && (name.dirty || name.touched || checkFields)" class="help-block with-errors">
              <ul class="list-unstyled">
                <li *ngIf="name.errors.required">First name is required</li>
                <li *ngIf="name.errors.maxlength">Please enter no more than 100 characters</li>
                <li *ngIf="name.errors.regexp">Only characters, numbers and punctuation are allowed</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-error has-danger">
            <label for="form_email">Email *</label>
            <input id="form_email" name="email" type="text" formControlName="email" placeholder="Email *">
            <div *ngIf="email.invalid && (email.dirty || email.touched || checkFields)" class="help-block with-errors">
              <ul class="list-unstyled">
                <li *ngIf="email.errors.required">Email is required</li>
                <li *ngIf="email.errors.email && !email.errors.required">Please enter correct email</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group has-error has-danger">
            <label for="form_phone">Phone number</label>
            <input id="form_phone" name="phone" type="text" formControlName="phone" placeholder="Phone number">
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched || checkFields)" class="help-block with-errors">
              <ul class="list-unstyled">
                <li *ngIf="phone.errors.regexp">Please enter correct phone number</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group has-error has-danger">
            <label for="form_subject">Subject</label>
            <input id="form_subject" name="subject" type="text" formControlName="subject" placeholder="Subject">
            <div *ngIf="subject.invalid && (subject.dirty || subject.touched || checkFields)" class="help-block with-errors">
              <ul class="list-unstyled">
                <li *ngIf="subject.errors.maxlength">Please enter no more than 100 characters</li>
                <li *ngIf="subject.errors.regexp">Only characters, numbers and punctuation are allowed</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group has-error has-danger">
            <label for="form_message">Message *</label>
            <textarea id="form_message" name="message" formControlName="message" placeholder="Message *" rows="4"></textarea>
            <div>{{ message.value ? message.value.length : 0 }} / 1000</div>
            <div *ngIf="message.invalid && (message.dirty || message.touched || checkFields)" class="help-block with-errors">
              <ul class="list-unstyled">
                <li *ngIf="message.errors.required">Message is required</li>
                <li *ngIf="message.errors.maxlength">Please enter no more than 1000 characters</li>
                <li *ngIf="message.errors.regexp">Only characters, numbers and punctuation are allowed</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group has-error has-danger">
            <label *ngIf="!referrer" for="form_attachment">Attachment</label>
            <label *ngIf="referrer && referrer == 'vacancy'" for="form_attachment">Attachment (your CV)</label>
            <input type="file" name="attachment" id="form_attachment" placeholder="Your attachments">
          </div>
        </div>
      </div>
      <div class="row">
        <re-captcha #captchaRef="reCaptcha" badge="inline" size="invisible" siteKey="6Lf4blEUAAAAAN3fwOaTAMcJiwDIpUZk1wjqU8O4"></re-captcha>
        <div class="col-sm-4">
          <object *ngIf="inProgress" class="form-submit-spinner" type="image/svg+xml" data="../public/svg/small.svg"></object>
          <input type="submit" [disabled]="inProgress" class="button btn-bg-md form-submit-button" value="Talk to us">
        </div>
      </div>
    </div>
  </form>
  <div style="display: flex;align-items:center;">
    <svg style="width: 50px" viewBox="0 0 250 250">
      <polygon class="left" fill="#8AC921" points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2"></polygon>
      <polygon class="right" fill="#73ae20" points="125,30 125,52.2 125,52.1 125,153.4 125,153.4 125,230 125,230 203.9,186.3 218.1,63.2 125,30"></polygon>
      <path class="a" d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
      L125,52.1z M142,135.4H108l17-40.9L142,135.4z" fill="#FFFFFF"></path>
    </svg>
    <span style="color:#73ae20;font-size: 12px;font-style: italic;margin-right: 7px;">Angular5 component</span>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="50px" viewBox="0 0 903.8 903.8" style="enable-background:new 0 0 903.8 903.8;" xml:space="preserve">
        <g><polygon points="366.7,903.8 536.7,903.8 537,327.2 681.3,327.2 451.9,0 222.5,327.2 367,327.2" fill="#73ae20"></polygon></g>
    </svg>
  </div>
</div>
