<template>
  <div class="error-page">
    <section
      class="section-padding hero"
      data-scroll-index="9"
    >
      <div class="container text-center">
        <!-- section head -->
        <div class="section-head">
          <h6>404</h6>
          <h4>Page not found</h4>
        </div>

        <div class="col-md-12">
          <p class="col-md-offset-2 col-md-8">
            Sorry! The page you are looking for does not exist.
          </p>
          <p class="col-md-offset-2 col-md-8">
            We may have removed a page to which you found a link, or you may have the wrong address for the
            page you are looking for. Please check the url or go to Home Page.
          </p>
        </div>
        <div class="section-head col-md-12 marginT30">
          <div class="text-center">
            <a
              class="button btn-bg-md"
              href="/"
            >BACK TO HOME PAGE</a>
          </div>
        </div>
        <div class="col-md-12">
          <img
            src="public/img/02.jpg"
            alt="image"
          >
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Error404',
};
</script>

<style scoped>

</style>
