<template>
  <div class="index-page">
    <section
      id="home"
      data-scroll-index="0"
      class="header demo5"
      style="position: relative"
    >
      <div class="header-overlay">
        <div class="container">
          <div class="v-middle">
            <div class="caption text-center">
              <h3>We Love</h3>
              <h2>Design and Development</h2>

              <router-link to="/projects">
                <button class="button btn-bord-md">
                  View Work
                </button>
              </router-link>

              <a
                href="#0"
                data-scroll-nav="2"
              >
                <button class="button btn-bg-md">Learn More</button>
              </a>
            </div>
          </div>
        </div>
        <div
          class="button-scroll"
          data-scrollTo="about"
        >
          <span />
        </div>
      </div>
      <div class="yt-player">
        <iframe
          frameborder="0"
          allowfullscreen
        />
      </div>
    </section>
    <section
      data-scroll-index="1"
      class="hero section-padding"
    >
      <div class="container">
        <div class="row">
          <div class="section-head text-center">
            <h6>We Do</h6>
            <h4>Software Engineering & Product Development Services</h4>
            <div class="col-md-12">
              <p class="col-md-offset-2 col-md-8">
                We started our activity back in 2003, when not everyone even had a mobile phone or a PC.
                But here we are in a digital epoch, surrounded by millions devices and we proud that we
                became a part of this transition.
                <br>Our main approach for technologies, methodologies, languages - keep up to date but
                stand on the solid background of what has been already proven.
                <br>We are always ready to bringing your ideas into life, making your business more
                prosperous and creating something beautiful in this world!
              </p>
            </div>
            <div class="clear-fix" />
          </div>

          <div class="col-md-12">
            <img
              src="public/img/02.jpg"
              alt="image"
            >
          </div>
        </div>
      </div>
    </section>

    <section
      data-scroll-index="2"
      class="us section-padding"
    >
      <div class="container">
        <div class="row flex-h">
          <div class="col-sm-3 flex-h">
            <div
              id="services"
              class="item home-our-services"
            >
              <span class="icon fa fa-globe" />
              <h6>Hire Web Development Team</h6>
              <p>
                To improve your business, our web development experts architect, develop, test, automate
                and maintain web applications using the top notch of technologies.
              </p>
              <ul class="home-our-services-list">
                <li>
                  <span class="icon"><i
                    class="fa fa-check"
                    aria-hidden="true"
                  /></span>
                  Website Development
                </li>
                <li>
                  <span class="icon"><i
                    class="fa fa-check"
                    aria-hidden="true"
                  /></span>
                  Online Data Driven Applications
                </li>
                <li>
                  <span class="icon"><i
                    class="fa fa-check"
                    aria-hidden="true"
                  /></span>
                  Web Based Business and Workflow Applications
                </li>
                <li>
                  <span class="icon"><i
                    class="fa fa-check"
                    aria-hidden="true"
                  /></span>
                  Front-end Design & Development
                </li>
                <li>
                  <span class="icon"><i
                    class="fa fa-check"
                    aria-hidden="true"
                  /></span>
                  Complex Backend Systems with API Integrations
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-3 flex-h">
            <div class="item home-our-services">
              <span class="icon fa fa-laptop" />
              <h6>Hire Software Development Team</h6>
              <p>
                With over decade’s experience in software product development, we deliver full-cycle
                software development services in a variety of technology stacks and business domains.
              </p>
              <ul class="home-our-services-list">
                <li>
                  <span class="icon"><i
                    class="fa fa-check"
                    aria-hidden="true"
                  /></span>
                  Architecture design
                </li>
                <li>
                  <span class="icon"><i
                    class="fa fa-check"
                    aria-hidden="true"
                  /></span>
                  Software product development
                </li>
                <li>
                  <span class="icon"><i
                    class="fa fa-check"
                    aria-hidden="true"
                  /></span>
                  Software testing
                </li>
                <li>
                  <span class="icon"><i
                    class="fa fa-check"
                    aria-hidden="true"
                  /></span>
                  Software product support and maintenance
                </li>
                <li>
                  <span class="icon"><i
                    class="fa fa-check"
                    aria-hidden="true"
                  /></span>
                  Users training
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-3 flex-h">
            <div class="item home-our-services">
              <span class="icon fa fa-mobile" />
              <h6>Hire Mobile Development Team</h6>
              <p>
                Providing experts to expand your team for a project.
              </p>
              <ul class="home-our-services-list">
                <li>
                  <span class="icon"><i
                    class="fa fa-check"
                    aria-hidden="true"
                  /></span>
                  Android App Development
                </li>
                <li>
                  <span class="icon"><i
                    class="fa fa-check"
                    aria-hidden="true"
                  /></span>
                  IPhone App Development
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-3 flex-h">
            <div class="item home-our-services">
              <span class="icon icon-tools" />
              <h6>Software Consulting</h6>
              <p>
                Software consulting services help you focus on what you really need and align
                technology, operational and financial objectives.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      data-scroll-index="3"
      class="team services section-padding"
    >
      <div class="container">
        <div class="row">
          <div class="section-head text-center">
            <h6>Used</h6>
            <h4>Technologies and approaches</h4>
          </div>

          <div class="tabs-icon text-center">
            <ul>
              <li
                id="tab-1"
                class="active"
              >
                <span class="fa fa-television" />
                <h6>Education</h6>
              </li>
              <li id="tab-2">
                <span class="icon-refresh" />
                <h6>Approaches</h6>
              </li>
              <li id="tab-3">
                <span class="fa fa-database" />
                <h6>Formalization</h6>
              </li>
              <li id="tab-4">
                <span class="fa fa-link" />
                <h6>Transparent workflow</h6>
              </li>
              <li id="tab-5">
                <span class="icon-gears" />
                <h6>QA</h6>
              </li>
            </ul>
          </div>

          <div
            class="services-content"
            style="min-height: auto"
          >
            <div class="container">
              <div class="row text-center">
                <div
                  id="tab-1-content"
                  class="item active"
                >
                  <h4>
                    90% of Our Developers Have Bachelor's Degree in Computer Science and Strong
                    English Communication Skills.
                  </h4>
                </div>
                <div
                  id="tab-2-content"
                  class="item"
                >
                  <h4>
                    Project Based Development Workflow: Agile XP (PMBOK), Scrum, Kanban,
                    Waterfall.<br>
                    Modern Approaches: TDD, BDD, Mobile First, BEM.
                  </h4>
                </div>
                <div
                  id="tab-3-content"
                  class="item"
                >
                  <h4>Sketches and Task Description Before Development and Documentation After.</h4>
                </div>
                <div
                  id="tab-4-content"
                  class="item"
                >
                  <h4>
                    Work Process is Transparent - Opened Task Runners Allows You to Track Task
                    Completion.
                  </h4>
                </div>
                <div
                  id="tab-5-content"
                  class="item"
                >
                  <h4>
                    Test Coverage: Unit-testing, Integration-testing, E2E-testing. Maintainable
                    code.
                  </h4>
                </div>
              </div>

              <h6
                class="text-center green"
                style="margin-top: 25px"
              >
                <i
                  class="fa fa-angle-up"
                  aria-hidden="true"
                /><br>
                As result average time of cooperation with our clients - 5 years
              </h6>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      data-scroll-index="4"
      class="numbers section-padding"
    >
      <div class="container">
        <div class="row text-center">
          <slick
            ref="slick"
            :options="slickOptions"
            class="carousel_technologies"
          >
            <h3><i class="devicon-html5-plain" /></h3>
            <h3><i class="devicon-javascript-plain" /></h3>
            <h3><i class="devicon-css3-plain" /></h3>
            <h3><i class="devicon-sass-original" /></h3>
            <h3><i class="devicon-react-original" /></h3>
            <h3><i class="devicon-angularjs-plain" /></h3>
            <h3><i class="devicon-vuejs-plain" /></h3>
            <h3><i class="devicon-babel-plain" /></h3>
            <h3><i class="devicon-jquery-plain" /></h3>
            <h3><i class="devicon-nodejs-plain" /></h3>
            <h3><i class="devicon-php-plain" /></h3>
            <h3><i class="devicon-csharp-plain" /></h3>
            <h3><i class="devicon-dot-net-plain" /></h3>
            <h3><i class="devicon-python-plain" /></h3>
            <h3><i class="devicon-postgresql-plain" /></h3>
            <h3><i class="devicon-mongodb-plain" /></h3>
            <h3><i class="devicon-mysql-plain" /></h3>
            <h3><i class="devicon-redis-plain" /></h3>
            <h3><i class="devicon-nginx-original" /></h3>
            <h3><i class="devicon-gulp-plain" /></h3>
            <h3><i class="devicon-github-plain" /></h3>
            <h3><i class="devicon-bootstrap-plain" /></h3>
            <h3><i class="devicon-trello-plain-wordmark" /></h3>
          </slick>
        </div>
      </div>
    </section>

    <section
      data-scroll-index="5"
      class="services section-padding"
    >
      <div class="section-head text-center">
        <h6>Our Clients</h6>
        <h4>Location</h4>
        <p>Click on a city to see our projects there</p>
      </div>

      <div
        id="amchart_map"
        style="width: 100%; height:500px"
      />
    </section>

    <section
      id="reviews"
      data-scroll-index="6"
      class="clients section-padding"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
            <div class="client-say text-center">
              <span class="icon-quote" />

              <h4>Happy Clients</h4>

              <div class="owl-carousel owl-theme">
                <div class="client-item text-center">
                  <p>
                    SoftGrad and Dmitry were amazing to work with. Amazingly talented programmers
                    that work incredibly efficiently over a wide range of languages. They always
                    completed ahead of deadlines even on very complex pieces. 5 stars isn't enough.
                  </p>
                  <h6>client from United States, New York</h6>
                  <a
                    href="//www.upwork.com/agencies/~01cd45c6957cc80d21"
                    class="is_link"
                    target="_blank"
                    rel="nofollow noopener"
                  >Go To Work
                    History & Feedback</a>
                </div>
                <!-- client item -->
                <div class="client-item text-center">
                  <p>
                    Probably the best contractor Ive worked with on here. Always delivers and is
                    easy to work with. Can't reccomend enough!
                  </p>
                  <h6>client from Canada, Milton</h6>
                  <a
                    href="//www.upwork.com/agencies/~01cd45c6957cc80d21"
                    class="is_link"
                    target="_blank"
                    rel="nofollow noopener"
                  >Go To Work
                    History & Feedback</a>
                </div>
                <!-- client item -->
                <div class="client-item text-center">
                  <p>
                    Alex is your contact person for an agency with dozens of people. Alex does his
                    utmost to ensure the right person is put on your task. He is also very thorough
                    in following up the person doing the job, and making sure everything is running
                    smoothly. His English and communication style is perfect. Highly recommended!
                  </p>
                  <h6>client from Belgium, Mortsel</h6>
                  <a
                    href="//www.upwork.com/agencies/~01cd45c6957cc80d21"
                    class="is_link"
                    target="_blank"
                    rel="nofollow noopener"
                  >Go To Work
                    History & Feedback</a>
                </div>
                <!-- client item -->
                <div class="client-item text-center">
                  <p>
                    Although this particular contract has ended. We continue to work with Ed and
                    Alex at Softgrad under another contract and plan to continue to do so with many
                    more projects down the road.
                    We approached these guys with a web application that we wanted to develop in the
                    financial realm. The web application is primarily built with Java, MongoDB and
                    AngularJS.
                    They have been very easy to work with. Each step of the way they have offered
                    suggestions that have improved the overall project.
                    I am very happy with the way that things are going and plan to continue working
                    with these guys.
                  </p>
                  <h6>client from United States, Tampa</h6>
                  <a
                    href="//www.upwork.com/agencies/~01cd45c6957cc80d21"
                    class="is_link"
                    target="_blank"
                    rel="nofollow noopener"
                  >Go To Work
                    History & Feedback</a>
                </div>
                <!-- client item -->
                <div class="client-item text-center">
                  <p>
                    All on business! I recommend!
                  </p>
                  <h6>client from Russia, Moscow</h6>
                  <a
                    href="//www.upwork.com/agencies/~01cd45c6957cc80d21"
                    class="is_link"
                    target="_blank"
                    rel="nofollow noopener"
                  >Go To Work
                    History & Feedback</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--====== End Clients ======-->

    <!--====== Contact ======-->
    <section
      data-scroll-index="7"
      class="contact section-padding"
    >
      <div class="container">
        <!-- section head -->
        <div
          id="contact"
          class="section-head text-center"
        >
          <h6>Contact Us</h6>
          <h4>Get In Touch</h4>
          <div class="clear-fix" />
        </div>

        <div class="row">
          <!-- info -->
          <div class="info col-md-offset-2 col-md-8">
            <div class="col-sm-6">
              <div class="item">
                <div class="icon">
                  <span class="icon-envelope" />
                </div>
                <h6>Mail</h6>
                <p><a href="mailto:info@softgrad.com">info@softgrad.com</a></p>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="item">
                <div class="icon">
                  <span class="icon-map-pin" />
                </div>
                <h6>Address</h6>
                <p>Kyrgyzstan, Bishkek</p>
              </div>
            </div>
            <div class="clear-fix" />
          </div>

          <!-- form -->
          <div class="main-form">
            <!-- contact form -->
            <div
              id="angular-container"
              class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10"
            >
              <app-root>
                <div class="angular-preloader">
                  <object
                    type="image/svg+xml"
                    data="../../../public/svg/large.svg"
                  />
                  <span>Loading...</span>
                </div>
              </app-root>
            </div>
            <div class="clear-fix" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import 'owl.carousel';
import Slick from 'vue-slick';

export default {
  name: 'Index',
  components: { Slick },
  data() {
    return {
      slickOptions: {
        slidesToShow: 8,
        slidesToScroll: 4,
        autoplay: true,
        autoplaySpeed: 3000,
        arrows: false,
      },
    };
  },
  watch: {
    $route() {
      if (this.$route.path === '/') {
        if (location.hash) {
          const element = document.getElementById(location.hash.slice(1));
          if (element) element.scrollIntoView();
        }
      }
    },
  },
  mounted() {
    window.addEventListener('resize', () => {
      this.resizeVideo();
    });

    this.resetPage();

    function angularLazyLoad() {
      const contactFormOffset = document.querySelector('.contact').offsetTop;
      if (!contactFormOffset || window.scrollY + window.innerHeight + 100 < contactFormOffset) return;
      window.removeEventListener('scroll', angularLazyLoad);

      $.getScript('public/js/inline.bundle.js', () => {
        $.getScript('public/js/polyfills.bundle.js', () => {
          $.getScript('public/js/main.bundle.js');
        });
      });
    }

    if (!/HeadlessChrome/.test(window.navigator.userAgent)) {
      if (!$('.angular-preloader').length) {
        return;
      }

      this.initMap();

      window.addEventListener('scroll', angularLazyLoad);
    }
  },
  methods: {
    initMap() {
      // init amchart map
      const mapTargetSVG = 'M9,0C4.029,0,0,4.029,0,9s4.029,9,9,9s9-4.029,9-9S13.971,0,9,0z M9,15.93 c-3.83,0-6.93-3.1-6.93-6.93S5.17,2.07,9,2.07s6.93,3.1,6.93,6.93S12.83,15.93,9,15.93 M12.5,9c0,1.933-1.567,3.5-3.5,3.5S5.5,10.933,5.5,9S7.067,5.5,9,5.5 S12.5,7.067,12.5,9z\n';
      // eslint-disable-next-line no-undef
      AmCharts.makeChart('amchart_map', {
        type: 'map',
        theme: 'light',
        listeners: [{
          event: 'rendered',
          method() {
            const _0x3796 = ['\x6F\x70\x61\x63\x69\x74\x79', '\x63\x73\x73', '\x5B\x74\x69\x74\x6C\x65\x3D\x22\x49\x6E\x74\x65\x72\x61\x63\x74\x69\x76\x65\x20\x4A\x61\x76\x61\x53\x63\x72\x69\x70\x74\x20\x6D\x61\x70\x73\x22\x5D'];
            $(_0x3796[2])[_0x3796[1]](_0x3796[0], 0);
          },
        }],
        projection: 'miller',
        areasSettings: {
          autoZoom: true,
          selectedColor: '#777777',
          color: '#73ae20',
        },
        smallMap: { enabled: false },
        export: { enabled: false },
        dataProvider: {
          map: 'worldLow',
          getAreasFromMap: true,
          images: [
            {
              svgPath: mapTargetSVG,
              url: './projects#16',
              title: '<span>New York</span>',
              latitude: 40.730610,
              longitude: -73.935242,
              color: '#355C16',
            },
            {
              svgPath: mapTargetSVG,
              url: './projects#15',
              title: '<span>Sydney</span>',
              latitude: -33.865143,
              longitude: 151.209900,
              color: '#355C16',
            },
            {
              svgPath: mapTargetSVG,
              url: './projects#17',
              title: '<span>Auckland</span>',
              latitude: -36.848461,
              longitude: 174.763336,
              color: '#355C16',
            },
            {
              svgPath: mapTargetSVG,
              url: './projects#11',
              title: '<span>Tel-aviv</span>',
              latitude: 32.109333,
              longitude: 34.855499,
              color: '#355C16',
            },
            {
              svgPath: mapTargetSVG,
              url: './projects#9',
              title: '<span>Moscow</span>',
              latitude: 55.751244,
              longitude: 37.618423,
              color: '#355C16',
            },
            {
              svgPath: mapTargetSVG,
              url: './projects#1',
              title: '<span>Tokyo</span>',
              latitude: 35.652832,
              longitude: 139.839478,
              color: '#355C16',
            },
            {
              svgPath: mapTargetSVG,
              url: './projects#0',
              title: '<span>Cantabria</span>',
              latitude: 43.182840,
              longitude: -3.987843,
              color: '#355C16',
            },
            {
              svgPath: mapTargetSVG,
              url: './projects#2',
              title: '<span>Boston</span>',
              latitude: 42.361145,
              longitude: -71.057083,
              color: '#355C16',
            },
            {
              svgPath: mapTargetSVG,
              url: './projects#5',
              title: '<span>Asheville</span>',
              latitude: 35.596588,
              longitude: -82.554901,
              color: '#355C16',
            },
            {
              svgPath: mapTargetSVG,
              url: './projects#6',
              title: '<span>Scottsdale</span>',
              latitude: 33.501324,
              longitude: -111.925278,
              color: '#355C16',
            },
            {
              svgPath: mapTargetSVG,
              url: './projects#12',
              title: '<span>Dallas</span>',
              latitude: 32.897480,
              longitude: -97.040443,
              color: '#355C16',
            },
          ],
        },
      });
    },
    resizeVideo() {
      const aspectRatio = 1.78;

      const video = $('.yt-player iframe');
      const videoHeight = video.outerHeight();
      const newWidth = videoHeight * aspectRatio;
      const halfNewWidth = newWidth / 2;

      // Define the new width and centrally align the iframe
      video.css({ width: `${newWidth}px`, left: '50%', 'margin-left': `-${halfNewWidth}px` });
    },
    resetPage() {
      if (location.hash) {
        const element = document.getElementById(location.hash.slice(1));
        if (element) element.scrollIntoView();
      }

      $('.clients .owl-carousel')
        .owlCarousel({
          items: 1,
          loop: true,
          mouseDrag: false,
          autoplay: true,
          autoplayTimeout: 7000,
        });

      const isMobile = (/iphone|ipod|android|ie|blackberry|fennec/).test(navigator.userAgent.toLowerCase());

      if (!isMobile) {
        const iframeElement = $('.yt-player iframe');
        iframeElement.attr('src',
          'https://www.youtube.com/embed/QEygj1JJjaI?fs=0&iv_load_policy=3&autoplay=1'
                        + '&mute=1&rel=0&controls=0&showinfo=0&loop=1&autohide=1&playlist=QEygj1JJjaI');
        iframeElement.css('display', 'block');
      }

      this.resizeVideo();

      $('.services')
        .on('click', 'li', function () {
          const myID = $(this)
            .attr('id');
          $(this)
            .addClass('active')
            .siblings()
            .removeClass('active');
          $('.services .item')
            .hide();
          $(`#${myID}-content`)
            .fadeIn();
        });
    },
  },
};
</script>

<style scoped>

</style>
