<template>
  <div class="page-layout">
    <div class="svg-sprite">
      <svg xmlns="http://www.w3.org/2000/svg">
        <symbol
          id="icon-logo"
          viewBox="0 0 50 50"
        ><title>&#x420;&#x435;&#x441;&#x443;&#x440;&#x441; 2</title>
          <g
            id="&#x421;&#x43B;&#x43E;&#x439;_2"
            data-name="&#x421;&#x43B;&#x43E;&#x439; 2"
          >
            <g
              id="&#x421;&#x43B;&#x43E;&#x439;_1-2"
              data-name="&#x421;&#x43B;&#x43E;&#x439; 1"
            >
              <circle
                cx="25"
                cy="25"
                r="25"
              />
              <path
                class="cls-1"
                d="M21.46 38.53H20.2a3.61 3.61 0 0 1-2.7-1.07 4.21 4.21 0 0 1-1-3.07v-5.67a2 2 0 0 0-.5-1.45 1.63 1.63 0 0 0-1.25-.53h-.84v-2.31h.84a1.62 1.62 0 0 0 1.25-.54 2.09 2.09 0 0 0 .5-1.47v-5.76a4.27 4.27 0 0 1 1-3.06 3.55 3.55 0 0 1 2.7-1.11h1.26v2.31h-.84a1.64 1.64 0 0 0-1.25.52 2 2 0 0 0-.5 1.46v5.55A3.68 3.68 0 0 1 18 25a3.53 3.53 0 0 1-1 .58 1.91 1.91 0 0 1 1 .58 3.62 3.62 0 0 1 .87 2.64v5.46a2 2 0 0 0 .5 1.43 1.65 1.65 0 0 0 1.25.52h.84zM36.4 26.74h-.84a1.58 1.58 0 0 0-1.23.53 2.08 2.08 0 0 0-.48 1.45v5.67a4.23 4.23 0 0 1-1.08 3 3.55 3.55 0 0 1-2.7 1.11h-1.26v-2.28h.84a1.69 1.69 0 0 0 1.28-.52 2 2 0 0 0 .5-1.43V28.8a3.63 3.63 0 0 1 .84-2.64 4 4 0 0 1 1-.58 2.23 2.23 0 0 1-1-.58 3.69 3.69 0 0 1-.84-2.67v-5.55a2 2 0 0 0-.5-1.46 1.68 1.68 0 0 0-1.28-.52h-.84v-2.31h1.26a3.6 3.6 0 0 1 2.7 1.08 4.25 4.25 0 0 1 1.08 3.09v5.76a2.14 2.14 0 0 0 .48 1.47 1.57 1.57 0 0 0 1.23.54h.84z"
              />
            </g>
          </g>
        </symbol>
      </svg>
    </div>

    <nav class="navbar navbar-default">
      <div class="container">
        <div :class="navbarClasses">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#nav-icon-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" />
            <span class="icon-bar" />
            <span class="icon-bar" />
          </button>
          <router-link
            tag="a"
            to="/"
            data-scroll-nav="0"
            class="logo"
          >
            <div class="logotype">
              <svg class="icon icon-logo">
                <use xlink:href="#icon-logo" />
              </svg>
            </div>
            <h1 class="text">
              Softgrad
            </h1>
          </router-link>
        </div>

        <div
          id="nav-icon-collapse"
          class="collapse navbar-collapse"
        >
          <ul :class="navbarMenuClasses">
            <template v-if="$route.path === '/'">
              <li>
                <a
                  href="#"
                  data-scroll-nav="0"
                >Home</a>
              </li>
              <li>
                <a
                  href="#services"
                  data-scroll-nav="2"
                >Services</a>
              </li>
              <li>
                <a
                  href="#reviews"
                  data-scroll-nav="6"
                >Reviews</a>
              </li>
              <li>
                <a
                  href="#contact"
                  data-scroll-nav="7"
                >Contact</a>
              </li>
            </template>

            <template v-else>
              <li>
                <router-link to="/">
                  Home
                </router-link>
              </li>
              <li>
                <router-link to="/#services">
                  Services
                </router-link>
              </li>
              <li>
                <router-link to="/#reviews">
                  Reviews
                </router-link>
              </li>
              <li>
                <router-link to="/#contact">
                  Contact
                </router-link>
              </li>
            </template>

            <li>
              <router-link
                :class="$route.path === '/projects' ? 'active' : ''"
                to="/projects"
              >
                Portfolio
              </router-link>
            </li>
            <li>
              <router-link
                :class="$route.path === '/vacancies' ? 'active' : ''"
                to="/vacancies"
              >
                Vacancies
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <keep-alive :include="keepAlivePages">
      <router-view />
    </keep-alive>

    <footer>
      <div class="main-footer text-center">
        <div
          class="logo"
          style="justify-content: center;margin:0px;"
        >
          <div class="logotype">
            <svg class="icon icon-logo">
              <use xlink:href="#icon-logo" />
            </svg>
          </div>
          <h1 class="text">
            Softgrad
          </h1>
        </div>
        <div class="social-icon">
          <a
            href="//www.facebook.com/Softgrad/"
            target="_blank"
            rel="nofollow noopener"
          >
            <span>
              <i
                class="fa fa-facebook"
                aria-hidden="true"
              />
            </span>
          </a>
          <a
            href="//vk.com/public170418091"
            target="_blank"
            rel="nofollow noopener"
          >
            <span>
              <i
                class="fa fa-vk"
                aria-hidden="true"
              />
            </span>
          </a>
        </div>
      </div>
      <div class="sub-footer">
        <p>&copy; Softgrad 2024 | All rights reserved</p>
      </div>
    </footer>
  </div>
</template>

<script>
import '../vendor/scrollIt.min';

export default {
  name: 'Layout',
  data() {
    return {
      keepAlivePages: ['Index', 'Projects'],
    };
  },
  computed: {
    navbarClasses() {
      const classes = ['navbar-header'];
      if (this.$route.path !== '/') classes.push('not-home-navbar');
      return classes.join(' ');
    },
    navbarMenuClasses() {
      const classes = ['nav', 'navbar-nav', 'navbar-right'];
      if (this.$route.path !== '/') classes.push('not-home-menu');
      return classes.join(' ');
    },
  },
  mounted() {
    $('.navbar-nav a').click(() => {
      if ($('#nav-icon-collapse').attr('aria-expanded') === 'true') $('.navbar-toggle').click();
    });

    $.scrollIt({
      upKey: 38, // key code to navigate to the next section
      downKey: 40, // key code to navigate to the previous section
      easing: 'linear', // the easing function for animation
      scrollTime: 600, // how long (in ms) the animation takes
      activeClass: 'active', // class given to the active nav element
      onPageChange: null, // function(pageIndex) that is called when page is changed
      topOffset: -60, // offste (in px) for fixed top navigation
    });

    // navbar scrolling background
    $(window)
      .on('scroll', () => {
        const bodyScroll = $(window)
          .scrollTop();
        const navbar = $('.navbar-default');
        if (bodyScroll > 300) {
          navbar.addClass('nav-scroll');
        } else {
          navbar.removeClass('nav-scroll');
        }
      });
  },
};
</script>

<style scoped>

</style>
