<template>
  <div class="projects-page">
    <section
      class="blog section-padding"
      data-scroll-index="8"
    >
      <div class="container">
        <div class="section-head text-center">
          <h6>Our Projects</h6>
          <h4>{{ SEODescription }}</h4>
        </div>

        <div id="projectsApp">
          <div v-if="metaLoaded">
            <div class="col-sm-4">
              <div class="this-is-vue">
                <i
                  class="devicon-vuejs-plain"
                  style="font-size: 22px;color:#73ae20;"
                />
                Vue.js component
                <svg
                  id="Capa_1"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns="http://www.w3.org/2000/svg"
                  version="1.1"
                  x="0px"
                  y="0px"
                  width="20px"
                  height="20px"
                  viewBox="0 0 903.8 903.8"
                  style="enable-background:new 0 0 903.8 903.8;transform: rotate(180deg);"
                  xml:space="preserve"
                >
                  <g><polygon
                    points="366.7,903.8 536.7,903.8 537,327.2 681.3,327.2 451.9,0 222.5,327.2 367,327.2"
                    fill="#73ae20"
                  /></g>
                </svg>
              </div>
              <projmultiselect
                :options="project_types"
                v-model="projectTypesFilter"
                title="Project Types"
              />
            </div>
            <div class="col-sm-4">
              <projmultiselect
                :options="technologies"
                v-model="technologiesFilter"
                title="Technologies"
              />
            </div>
            <div class="col-sm-4">
              <projmultiselect
                :options="industries"
                v-model="industriesFilter"
                title="Industries"
              />
            </div>
          </div>

          <div style="clear:both" />

          <div
            v-if="projectsLoaded"
            class="projects"
          >
            <div
              v-for="(project, i) in filteredProjects()"
              class="post post--flex"
            >
              <div class="post__item">
                <div class="post-img">
                  <div
                    v-html="drawTechIcons(project.technologies)"
                    class="technologieslist"
                  />
                  <a
                    :href="`#${i}`"
                    v-on:click="openProject(i)"
                  >
                    <img
                      :src="`/${project.img_thumbnail}`"
                      alt="image"
                      class="post-pic"
                    >
                  </a>
                </div>
                <div class="post-content">
                  <h6>{{ project.name || '' }}</h6>
                  <p>
                    {{ project.description || '' }}
                  </p>
                  <a
                    :href="`#${i}`"
                    v-on:click="openProject(i)"
                  >
                    <span>Read More</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            v-show="filteredAmountBeforeShowLimit > filteredProjects().length"
            v-on:click="showMore()"
            class="show-more"
          >
            <button class="button btn-bg-md">
              Show More
            </button>
          </div>
          <!-- project modal -->
          <modal
            :scrollable="true"
            name="projectModal"
            height="auto"
            width="95%"
          >
            <button
              @click="closeModal()"
              class="button btn-bg-md"
              style="float:right;font-size:24px;color:#FFFFFF"
            >
              Close
            </button>
            <div
              v-if="projectsLoaded"
              class="container padding15"
            >
              <div class="row">
                <div class="section-head text-center">
                  <h6>Project</h6>
                  <h4>{{ getCurrentProject().name || '' }}</h4>
                  <div class="col-md-12">
                    <p
                      class="col-md-offset-2 col-md-8"
                      style="text-align: justify;"
                    >
                      {{ getCurrentProject().full_description || '' }}
                    </p>
                  </div>
                  <div
                    class="col-md-12"
                    style="margin: 10px 0px 20px 0px"
                  >
                    <div
                      v-html="drawTechIcons(getCurrentProject().technologies, true)"
                      class="project-tech-icons big-icons"
                    />
                  </div>

                  <div class="col-md-4">
                    <p>
                      <span class="green">Team:</span> {{ getCurrentProject().team }}<br>
                      <span class="green">Country:</span> {{ getCurrentProject().country }}
                    </p>
                  </div>
                  <div class="col-md-4">
                    <p>
                      <span class="green">Project Types:</span>
                      {{ getCurrentProjectTypes() }}
                    </p>
                  </div>
                  <div class="col-md-4">
                    <p>
                      <span class="green">Industires:</span>
                      {{ getCurrentProjectIndustries() }}
                    </p>
                  </div>

                  <div class="clear-fix" />
                </div>
                <div class="col-md-12">
                  <img
                    :src="`/${getCurrentProject().img}`"
                    alt="image"
                  >
                </div>
                <div class="clear-fix" />
              </div>
            </div>
          </modal>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import ProjMultiselect from '../components/proj-multiselect';

export default {
  name: 'Projects',
  components: {
    projmultiselect: ProjMultiselect,
  },
  data() {
    return {
      projectTypesFilter: [],
      technologiesFilter: [],
      industriesFilter: [],
      projectList: [],
      // текущее количество отображаемых проектов
      projectsShowAmount: 6,
      // количество отфильтрованных проектов
      filteredAmountBeforeShowLimit: null,
      // сколько добавить к projectsShowAmount
      addToShowMore: 6,
      // количество отображаемых проектов по умолчанию
      projectsShowAmountDefault: 6,
      getOverallProjectsFlag: false,
      currentProject: null,
      project_types: [],
      technologies: [],
      industries: [],
      metaLoaded: false,
      windowPosition: 0,
      projectsLoaded: false,
      SEODescription: 'Our Clients Have Great Ideas. We Bring Them To Life',
    };
  },
  computed: {},
  watch: {
    // сбрасываем количество отображаемых карточек в дефолт
    projectTypesFilter() {
      this.projectsShowAmount = this.projectsShowAmountDefault;
    },
    // сбрасываем количество отображаемых карточек в дефолт
    technologiesFilter() {
      this.projectsShowAmount = this.projectsShowAmountDefault;
    },
    // сбрасываем количество отображаемых карточек в дефолт
    industriesFilter() {
      this.projectsShowAmount = this.projectsShowAmountDefault;
    },
  },
  beforeMount() {
    this.getProjectsMeta();
    this.getProjectList();
  },
  mounted() {
    // открываем проект, если его номер передан в хэш-навигации
    const locationHash = parseInt(document.location.hash.substr(1), 10);
    if (!isNaN(locationHash)) {
      this.openProject(locationHash, true);
    }
  },
  methods: {
    makeRequest: (url, data) => fetch(url, {
      method: 'POST',
      body: JSON.stringify(data),
    })
      .then(response => response.json()),
    getProjectList() {
      this.makeRequest(`${process.env.BACKEND_BASE}backend/projects.php`, { action: 'getProjects' })
        .then(response => {
          this.projectList = response.sort(this.sortByPosition);
          this.projectsLoaded = true;
        });
    },
    getProjectsMeta() {
      this.makeRequest(`${process.env.BACKEND_BASE}backend/projects.php`, { action: 'getProjectsMeta' })
        .then(response => {
          this.technologies = response.technologies;
          this.project_types = response.project_types;
          this.industries = response.industries;
          this.setFiltersFromURL();
          this.metaLoaded = true;
        });
    },
    setFiltersFromURL() {
      if (
        (!this.$route.params.types || this.$route.params.types === 'all')
          && (!this.$route.params.technologies || this.$route.params.technologies === 'all')
          && (!this.$route.params.industries || this.$route.params.industries === 'all')
      ) {
        return;
      }

      if (this.$route.params.types && this.$route.params.types !== 'all') {
        const types = this.$route.params.types.split(',');
        this.projectTypesFilter = this.project_types.filter(type => types.includes(type.name));
      }
      if (this.$route.params.technologies && this.$route.params.technologies !== 'all') {
        const technologies = this.$route.params.technologies.split(',');
        this.technologiesFilter = this.technologies.filter(technology => technologies.includes(technology.name));
      }
      if (this.$route.params.industries && this.$route.params.industries !== 'all') {
        const industries = this.$route.params.industries.split(',');
        this.industriesFilter = this.industries.filter(industry => industries.includes(industry.name));
      }
    },
    showMore() {
      this.projectsShowAmount += this.addToShowMore;
    },
    closeModal() {
      this.$modal.hide('projectModal');
      window.scrollTo(0, this.windowPosition);
    },
    filteredProjects() {
      let filteredProjects = this.projectList.filter(project => {
        if (
          Array.isArray(this.projectTypesFilter)
            && this.projectTypesFilter.length
            && !this.projectTypesFilter.some(elem => project.project_types.map(e => e.name).indexOf(elem.name) > -1)
        ) {
          return false;
        }
        if (
          Array.isArray(this.technologiesFilter)
            && this.technologiesFilter.length
            && !this.technologiesFilter.some(elem => project.technologies.map(e => e.name).indexOf(elem.name) > -1)
        ) {
          return false;
        }
        if (
          Array.isArray(this.industriesFilter)
            && this.industriesFilter.length
            && !this.industriesFilter.some(elem => project.industries.map(e => e.name).indexOf(elem.name) > -1)
        ) {
          return false;
        }
        return true;
      });

      // количество отфильтрованных записей
      this.filteredAmountBeforeShowLimit = filteredProjects.length;

      // ограничиваем отображаемое количество
      filteredProjects = filteredProjects.slice(0, this.projectsShowAmount);

      // проброс фильтров в URL
      if (this.metaLoaded) {
        this.$router.replace({
          params: {
            types: this.projectTypesFilter.length ? this.projectTypesFilter.map(item => item.name).join(',') : 'all',
            technologies: this.technologiesFilter.length ? this.technologiesFilter.map(item => item.name).join(',') : 'all',
            industries: this.industriesFilter.length ? this.industriesFilter.map(item => item.name).join(',') : 'all',
          },
          hash: document.location.hash,
          name: 'projects-filtered',
        });

        // SEO блок
        if (this.technologiesFilter.map(tech => tech.name).includes('Vue')) {
          this.SEODescription = 'We are Vue js development company';
        }
      }

      return filteredProjects;
    },
    drawTechIcons(technologies, showAll = false) {
      if (!technologies || !Array.isArray(technologies)) return '';


      const techHTML = technologies.map((tech, i) => {
        if (showAll || i < 6) {
          return `<div class="technologieslist_technology technology-nodejs"><i class="${tech.icon}" title="${tech.name}"></i></div>`;
        } if (i === 6) {
          return `<div class="technologieslist_technology technology-html5 technologieslist_technology_more">+${technologies.length - 6}</div>`;
        }

        return '';
      });

      return techHTML.join('');
    },
    getCurrentProject() {
      if (this.getOverallProjectsFlag) {
        return this.projectList[this.currentProject] || this.projectList[0];
      }

      return this.filteredProjects()[this.currentProject] || this.projectList[0];
    },
    getCurrentProjectTypes() {
      return this.joinByName(this.getCurrentProject().project_types);
    },
    getCurrentProjectIndustries() {
      return this.joinByName(this.getCurrentProject().industries);
    },
    joinByName: items => items.map(e => e.name)
      .join(', '),
    /**
       * Открыть проект в модалке
       *
       * @param id
       * @param {boolean} openOverall поиск проекта по всем, а не по отфильтрованным
       */
    openProject(id, openOverall = false) {
      if (isNaN(id)) {
        return;
      }
      this.windowPosition = window.scrollY;
      this.getOverallProjectsFlag = openOverall;
      this.currentProject = id;
      this.$modal.show('projectModal');
    },
    sortByPosition: (a, b) => a.pos - b.pos,
    sortByPositionDesc: (a, b) => b.pos - a.pos,
  },
};
</script>

<style scoped>

</style>
