<template>
  <div class="vacancy-page">
    <section
      class="blog section-padding"
      data-scroll-index="9"
    >
      <div class="container">
        <!-- section head -->
        <div class="section-head text-center">
          <h6>Vacancies</h6>
          <h4>Join Our Team</h4>
        </div>

        <div class="col-md-12">
          <p
            class="col-md-offset-2 col-md-8"
            style="text-align: justify;"
          >
            And you will get: competetive salary, flexible schedule, friendly atmosphere,
            free english lessons, loyal attitude (we are sympathetic to personal issues),
            convenient office location, remote work possibility, corporate holidays, inner meetups.
          </p>
        </div>
        <div style="clear:both" />

        <div class="section-head text-center">
          <h4>We are looking for</h4>
        </div>

        <div id="vacanciesApp">

          <div
            v-if="vacanciesLoaded"
          >
            <div
              v-for="(vacancy) in vacancyList"
              class="vacancy"
            >
              <div class="vacancy__item">
                <a
                  :href="`#${vacancy.slug}`"
                  v-on:click="openVacancy(vacancy.slug)"
                >
                  <div class="vacancy__content">
                    <h6>{{ vacancy.name || '' }}</h6>
                    <p>
                      {{ vacancy.description || '' }}
                    </p>
                    <span>Read more</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- vacancy modal -->
          <modal
            :scrollable="true"
            name="vacancyModal"
            height="auto"
            width="95%"
          >
            <button
              @click="closeModal()"
              class="button btn-bg-md"
              style="float:right;font-size:24px;color:#FFFFFF"
            >
              Close
            </button>
            <div
              v-if="vacancyInfoCache[currentVacancySlug]"
              class="container padding15"
            >
              <div class="row">
                <div class="section-head text-center">
                  <h4>{{ vacancyInfoCache[currentVacancySlug].name || '' }}</h4>
                  <div class="col-md-12">
                    <div class="col-md-offset-1 col-md-10 vacancy-description">
                      <div
                        v-html="vacancyInfoCache[currentVacancySlug].full_description"
                        class="sg-text"
                      ></div>

                      <a
                        @click="handleVacancyButton"
                        href="./#contact"
                        class="button btn-bg-md mt-15"
                      >
                        Откликнуться
                      </a>
                    </div>
                  </div>
                  <div class="clear-fix" />
                </div>
              </div>
            </div>
            <div
              v-if="!vacancyInfoCache[currentVacancySlug]"
              class="container padding15"
            >
              <div class="row">
                <div class="section-head text-center">
                  <h4>Loading</h4>
                  <div class="clear-fix" />
                </div>
              </div>
            </div>
          </modal>
        </div>

        <div class="col-md-12">
          <div class="main-form">
            <div class="section-head">
              <h4 class="text-center">
                Some screenshots from our life
              </h4>
            </div>
            <div class="col-md-offset-2 col-md-8">
              <div id="teamPhotos" />
              <div style="display: flex;align-items:center;">
                <i
                  class="devicon-react-original"
                  style="font-size:24px;color:#73ae20;"
                />
                <span style="color:#73ae20;font-size: 12px;font-style: italic;margin: 0 7px;">React.js component</span>
                <svg
                  height="50px"
                  width="20px"
                  viewBox="0 0 903.8 903.8"
                >
                  <polygon
                    fill="#73ae20"
                    points="366.7,903.8 536.7,903.8 537,327.2 681.3,327.2 451.9,0 222.5,327.2 367,327.2"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import * as ReactDOM from 'react-dom';
import React from 'react';
import TeamPhotos from '../components/TeamPhotos';

export default {
  name: 'Vacancies',
  data() {
    return {
      vacancyList: [],
      vacancyInfoCache: {}, // id: {id, name, full_description}
      currentVacancySlug: null,
      windowPosition: 0,
      vacanciesLoaded: false,
    };
  },
  computed: {},
  beforeMount() {
    this.loadVacancies();
  },
  mounted() {
    // открываем проект, если его id передан в хэш-навигации
    const locationHash = document.location.hash.substr(1);
    if (locationHash) {
      this.openVacancy(locationHash);
    }

    ReactDOM.render(<TeamPhotos />, document.getElementById('teamPhotos'));
  },
  methods: {
    makeRequest: (url, data) => fetch(url, {
      method: 'POST',
      body: JSON.stringify(data),
    })
      .then(response => response.json()),
    loadVacancies() {
      this.makeRequest(`${process.env.BACKEND_BASE}backend/vacancies.php`, { action: 'getVacancies' })
        .then(response => {
          this.vacancyList = response;
          this.vacanciesLoaded = true;
        });
    },
    closeModal() {
      this.currentVacancySlug = null;
      document.location.hash = '';
      this.$modal.hide('vacancyModal');
      window.scrollTo(0, this.windowPosition);
    },
    loadCurrentVacancy() {
      if (this.vacancyInfoCache[this.currentVacancySlug] || this.loadingVacancy) { // send only one request per vacancy
        return;
      }
      this.loadingVacancy = true;
      this.makeRequest(`${process.env.BACKEND_BASE}backend/vacancies.php`, {
        action: 'getVacancyBySlug',
        slug: this.currentVacancySlug
      })
        .then(response => {
          if (!response) {
            this.closeModal();
          }
          this.vacancyInfoCache = { ...this.vacancyInfoCache, [this.currentVacancySlug]: response };
          this.loadingVacancy = false;
        });
    },

    openVacancy(slug) {
      if (!slug) {
        return;
      }
      this.windowPosition = window.scrollY;
      this.currentVacancySlug = slug;
      this.loadCurrentVacancy();
      this.$modal.show('vacancyModal');
    },

    handleVacancyButton(event) {
      window.localStorage.setItem('referrerData', JSON.stringify({
        subject: event.target.innerText.trim(),
        referrer: 'vacancy',
        expires: new Date().getTime() + 60 * 1000
      }));
    },
  },
};
</script>

<style scoped>

</style>
