@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
    url('../fonts/raleway-v12-latin-200.woff2') format('woff2'),
    url('../fonts/raleway-v12-latin-200.woff') format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'),
    url('../fonts/raleway-v12-latin-300.woff2') format('woff2'),
    url('../fonts/raleway-v12-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url('../fonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'),
    url('../fonts/source-sans-pro-v11-latin-regular.woff') format('woff');
}
