.navbar {
     background-color: rgba(128, 128, 128, .5);
}

@media (max-width: 500px) {
    .section-head {
        padding-top: 50px !important;
        margin-bottom: 40px !important;
    }
}

.project-main-img {
    margin-top: 95px;
}

.section-project {
    padding-top: 100px;
}

.section-head {
    padding-top: 100px;
}

.project-demo {
    position: relative;
    height: 600px;
}

.project-demo .button {
    margin-top: 50px;
}

.project-demo__mobile {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.project-demo__window {
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.project-demo__browser-line {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

@media (min-width: 768px) {
    .project-demo__window {
        display: block;
    }
    .project-demo__browser-line {
        display: block;
    }
    .project-demo__mobile {
        display: none;
    }
}

.project-description {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.project-description__text {
    width: 63%;
    padding-right: 100px;
}

@media (max-width: 600px) {
    .project-description {
        flex-wrap: wrap;
    }
    .project-description__text {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .project-description__text {
        padding-right: 0;
    }
}

.section-impact {
    padding: 70px 0 70px 0;
}

.the-impact {
    text-align: center;
}

.the-impact h4 {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

.the-impact p {
    padding-top: 20px;
}

.features {
    padding-right: 20px;
}

.features__feature {
    font-size: 16px;
    padding-bottom: 30px;
}

.features__feature h4 {
    padding-bottom: 10px;
}

.section-features {
    background-color: rgb(202, 202, 202);
    padding: 50px 0 50px 0;
    margin: 50px 0 50px 0;
}

.key-features h4 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.key-features-list {
    display: flex;
    justify-content: space-around;
    padding: 0 100px 0 100px;
    flex-wrap: wrap;
}

@media (max-width: 999px) {
    .key-features-list {
        padding: 0 10px 0 10px;
    }
}

.key-features-list ul {
    min-width: 300px;
    margin-bottom: 0;
}
.key-features ul li {
    font-size: 18px;
    padding: 8px 0 0 15px;
}

.key-features ul li img {
    width: 30px;
    padding: 0 10px 0 2px;
}

.section-nav {
    background-color: rgb(13, 136, 185);
}

.projects-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-nav__button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 30px 12px 30px;
    min-width: 250px;
    margin: 60px 50px 60px 50px;
    border-radius: 5px;
    transition: all .5s;
}

.projects-nav__button:hover {
    border: 2px solid #73ae20;
}

.projects-nav__button:first-child img {
    transform: rotate(180deg);
}

.projects-nav__button img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

@media (max-width: 1200px) {
    .projects-nav__button {
        margin: 60px 10px 60px 10px;
        min-width: 200px;
        padding: 12px;
    }
}

@media (max-width: 768px) {
    .projects-nav__button {
        margin: 60px 5px;
        min-width: 140px;
        padding: 8px 5px;
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    .projects-nav__button {
        margin: 60px 0;
        min-width: 90px;
        padding: 8px 2px;
    }
    
    .projects-nav__button span {
        display: none;
    }
    .projects-nav__button:first-child:after {
        content: "Prev";
    }
    .projects-nav__button:last-child:before {
        content: "Next";
    }
    .projects-nav__button:nth-child(2):after {
        content: "Show all";
    }
    .projects-nav {
        justify-content: space-around;
    }
}

