.projects-page .navbar {
    background-color: #fff;
}

@media (max-width: 500px) {
    .section-head {
        padding-top: 50px !important;
        margin-bottom: 40px !important;
    }
}

.filters-form {
    display: flex;
    margin: 20px 0 30px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.SumoSelect {
    cursor: pointer;
    margin: 0 5px 0 5px;
    width: 250px !important;
    padding-top: 5px;
}

@media (max-width: 500px) {
    .filters-form {
        margin-bottom: 0px;
    }
    .SumoSelect {
        width: 100% !important;
    }
}

.SumoSelect>.optWrapper>.options {
    max-height: 225px !important;
}

.SumoSelect>.optWrapper.multiple>.options li.opt.selected span i {
    background-color: #73ae20 !important;
}

.SumoSelect>.optWrapper.multiple>.options li.opt>label{
    color: #999;
    font-weight: 400 !important;
}

.placeholder {
    font-style: normal !important;
}

.blog .section-head {
    padding-top: 100px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:30px;
}

.post {
    width: 360px;
    margin: 0 5px 35px 5px;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.post__item {
    background-color: #fff;
    position: relative;
    box-shadow: 0 2px 2px 1px #e9e9e9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*
.post__overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    outline: 2px solid #73ae20 !important;
    outline-offset: -6px;
    transition: .75s;
}

.post__overlay:hover {
    opacity: 1;
    transition: .75s;
}

.post__overlay-border {
    height: 96.5%;
    border: 1px solid #73ae20;
    margin: 10px;
    border-radius: 4px;
}

.post__overlay-content {
    height: 270px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 180px rgba(0, 0, 0, 0.5) inset;
}

.post__overlay-content-ttl {
    display: flex;
}

.post__overlay-content-ttl h6 {
    margin: 0 auto;
    color: #73ae20 !important;
}*/

.svg-magnifier {
    width: 20px;
}

.post-img {
    max-width: 360px;
    text-align: center;
    display: flex;
    vertical-align: middle;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0;
    width: 100%;
}

.post-pic {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.typeslist {
    cursor: pointer;
    position: absolute;
    top: 6px;
    left: 3px;
    display: flex;
}

.typeslist__type {
    border-radius: 2px;
    margin: 3px 5px 0 5px;
    padding: 3px 10px 3px 10px;
    color: white;
    font-weight: bold;
    transition: .5s;
}

.type-service {
    background-color: #3bccf0;
}

.type-service:hover {
    color: #3bccf0;
    background-color: white;
}

.type-application {
    background-color: violet;
}

.type-application:hover {
    color: violet;
    background-color: white;
}

.type-crm {
    background-color: purple;
}

.type-crm:hover {
    color: purple;
    background-color: white;
}

.industrieslist {
    cursor: pointer;
    position: absolute;
    top: 235px;
    right: 3px;
    display: flex;
}

.industrieslist_industry {
    border-radius: 2px;
    margin: 3px 5px 0 5px;
    padding: 3px 10px 3px 10px;
    color: white;
    font-weight: bold;
    transition: .5s;
}

.industry-education {
    background-color: blue;
}

.industry-education:hover {
    color: blue;
    background-color: white;
}

.industry-hrresourcecentre {
    background-color: grey;
}

.industry-hrresourcecentre:hover {
    color: grey;
    background-color: white;
}

.technologieslist {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    position: absolute;
    bottom: -15px;
    right: 15px;
}

.technologieslist_technology {
    border-radius: 50%;
    margin: 0;
    padding: 0;
    font-weight: bold;
    transition: .5s;
    background: #fff;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px 1px #eee;
    color: #73ae20;
}
.technologieslist_technology_more {
    background: #76AC31;
    color: #fff;
    font-weight: 500;
}
.technologieslist_technology img {
    width: 15px;
    padding-right: 3px;
}

/*
.technology-nodejs {
    background-color: rgb(113, 185, 113);
}

.technology-nodejs:hover {
    color: rgb(113, 185, 113);
    background-color: white;
}

.technology-angular {
    background-color: rgb(230, 65, 65);
}

.technology-angular:hover {
    color: rgb(230, 65, 65);
    background-color: white;
}

.technology-bootstrap {
    background-color: rgb(121, 33, 121);
}

.technology-bootstrap:hover {
    color: rgb(121, 33, 121);
    background-color: white;
}

.technology-wordpress {
    background-color: steelblue;
}

.technology-wordpress:hover {
    color: steelblue;
    background-color: white;
}

.technology-html5 {
    background-color: orangered;
}

.technology-html5:hover {
    color: orangered;
    background-color: white;
}

.technology-css3 {
    background-color:olive;
}

.technology-css3:hover {
    color: olive;
    background-color: white;
}
*/

.post-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 120px;
}

.show-more {
    display: flex;
    justify-content: center;
}

.show-more > button {
    min-width: 220px;
}

.post--flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.post--flex .post__item{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}

.post--flex .post-img{
    flex-shrink: 0;
}



.post--flex .technologieslist{
    z-index: 2;
}


.post--flex .post-content{
    flex-grow: 1;
    position: relative;
}

.post--flex .post-content p{
    max-height: auto;
    margin-bottom: 45px;
}

.post--flex .post-content a{
    position: absolute;
    bottom: 27px;
    left: 20px;
}

.post--flex .post-content a span{
    margin-bottom: 0;
}

@media screen and (min-width: 991px){
    .post--flex .post-img img{
        height: 210px;
    }
}