
/* -------------------------------------------------------
                     phone & tablet
-------------------------------------------------------- */

@media (max-width: 767px){

	.navbar-default .navbar-toggle{
		background: none;
		margin-top: 15px;
		border: none;
	}

	.navbar-default .navbar-nav>li>a{
		color: #111 !important;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus
	{
		background: none;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background: #111;
	}

	.nav-scroll .navbar-toggle .icon-bar{
		background: #111;
	}

	.navbar-default .navbar-collapse{
		text-align: center;
		border: none;
		background: #fff;
		margin-top: 5px;
	}

	.header .caption h2{
		font-size: 35px;
	}

	.services .tabs-icon .active:after{
		display: none;
	}

	.us .item,
	.team .team-item,
	.contact .info .item
	{
		margin-bottom: 50px;
	}

	.portfolio .filtering span{
		padding: 0 10px 0;
	}
}

@media (max-width: 991px){

	.navbar-default .navbar-nav>li{
		margin-left: 10px !important;
		margin-right: 10px !important;
		padding: 4px !important;
	}
	
	.navbar-default .navbar-nav>li:first-child{
		margin-top: 0 !important;	
	}

	.navbar-default .navbar-nav li + li{
		margin-top: 25px;
	}

	.navbar-default .navbar-nav>li>a{
		color: #111 !important;
	}

	.navbar-nav{
		margin-top: 25px !important;	
		margin-bottom: 25px !important;	
	}
	.header .caption h2{
		font-size: 45px;
	}

	.numbers .numb-item,
	.price .prc-item,
	.blog .post
	{
		margin-top: 50px;
	}

	.services-content .services-info{
		margin-bottom: 30px;
	}
}

@media (min-width: 768px){
	.flex-h{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}

@media (min-width: 768px) and (max-width: 1000px){
	.flex-h .item{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}