/**
* @template:  Beidea

  -- style 2

*/


/* -------------------------------------------------------
                     Style 2
-------------------------------------------------------- */
.cls-1 {
    fill: #fff
}

.header.demo5 {
    height: 100vh;
    overflow: hidden !important;
}

.header.demo5 .header-overlay {
    background: rgba(0, 0, 0, .5);
}

.logo {
    display: flex;
    font-weight: bold;
    font-family: DINWeb-Cond, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 5px 0 0 15px;
}

.logo .logotype .icon {
    width: 50px;
    height: 50px;
    display: block;
    -webkit-animation: color 60s ease-in-out infinite;
    -moz-animation: color 60s ease-in-out infinite;
    -o-animation: color 60s ease-in-out infinite;
    animation: color 60s ease-in-out infinite;
    user-select: none;
}

.svg-sprite {
    display: none;
}

@keyframes color {
    0% {
        fill: rgb(231, 21, 84);
    }
    14% {
        fill: #FFA500;
    }
    29% {
        fill: rgb(192, 192, 40);
    }
    43% {
        fill: #0fb30f;
    }
    58% {
        fill: rgb(84, 84, 219);
    }
    72% {
        fill: #000080;
    }
    86% {
        fill: #800080;
    }
    100% {
        fill: rgb(231, 21, 84);
    }
}

@-webkit-keyframes color {
    0% {
        fill: rgb(231, 21, 84);
    }
    14% {
        fill: #FFA500;
    }
    29% {
        fill: rgb(192, 192, 40);
    }
    43% {
        fill: #0fb30f;
    }
    58% {
        fill: rgb(84, 84, 219);
    }
    72% {
        fill: #000080;
    }
    86% {
        fill: #800080;
    }
    100% {
        fill: rgb(231, 21, 84);
    }
}

.logo .text {
    font-size: 52px;
    margin: 3px 0 0 10px;
    font-weight: bold;
    /* white logo for top */
    color: #FFFFFF;
}

.nav-scroll .logo .text {
    /* white logo on scroll */
    color: #000000;
}

.btn-bord-md:hover,
.section-head h6,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li .active,
.us .item span,
.team .team-item .info h6,
.team .team-item .info span:hover,
.numbers .numb-item span,
.services .tabs-icon .active,
.portfolio .filtering .active,
.clients .client-say span,
.clients .client-say .client-item h6,
.clients .owl-theme .owl-dots .active span,
.price .active .button,
.blog .post-content a span,
.blog .post-content .info li span,
.map .map-toggle span:after,
.vacancy__content span,
footer .main-footer .footer-logo span {
    color: #73ae20 !important;
}

.btn-bg-md,
.us .item h6:after,
.team .skills .item .skills-progress span,
.numbers .numb-item h3:after,
.clients .owl-theme .owl-dots .active span,
.price .active,
.contact .main-form input[type="submit"],
footer .main-footer .social-icon span:hover {
    background: #73ae20 !important;
}

.btn-bg-md:hover,
.btn-bord-md:hover,
.btn-bg-md,
.price .active,
.contact .main-form input[type="submit"]:hover {
    border-color: #73ae20 !important;
}

.btn-bg-md:hover{
    border-color: #578419 !important;
    background: #578419 !important;
}

.btn-bord-md:hover{
    border-color: #578419 !important;
    color: #578419 !important;
}
input.button.btn-bg-md:hover {
    color: #fff !important;
}

.angular-preloader {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.angular-preloader span {
    text-align: center;
    display: block;
}

.form-submit-spinner {
    position: absolute;
    top: 11px;
    margin-left: 15px;
    opacity: 0.5;
}

html input[disabled] {
    opacity: 0.5;
}

.grecaptcha-badge {
    float: right;
    margin-right: 15px;
}

/* Home our services */
.home-our-services p {
    text-align: justify;
}

.home-our-services-list i {
    font-size: 16px;
    color: #73ae20;
}

.home-our-services-list li {
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.home-our-services-list span {
    margin: 0px !important;
    font-size: 25px !important;
}

.green {
    color: #73ae20;
}

.is_link:hover {
    text-decoration: underline !important;
}

.video_under_descr {
    position: absolute;
    text-align: center;
    margin-right: 20px;
    right: 0px;
    font-style: italic;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #73ae20;
}

.this-is-vue {
    position: absolute;
    text-align: center;
    margin-top: -20px;
    right: 0;
    font-style: italic;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #73ae20;
}

.not-home-navbar .logo .text {
    color: #000000 !important;
}

.project-tech-icons {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.project-tech-icons .technologieslist_technology {
    margin: 5px;
}

.padding15 {
    padding: 15px;
}

.marginT30 {
    margin-top: 30px;
}

.marginT50 {
    margin-top: 50px;
}

.v--modal-box {
    margin-top: 20px;
}

.big-icons .technologieslist_technology {
    width: 37px;
    height: 37px;
}

.big-icons {
    font-size: 20px;
}

.navbar-right a:hover, .nav-scroll a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #73ae20 !important;
}

.admin-page label {
    font-weight: normal;
}

.admin-page .admin-tag {
    padding: .3em .6em;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.admin-page .admin-tag .badge {
    cursor: pointer;
    font-size: inherit;
    margin-left: 5px;
    vertical-align: unset;
}

img[src=""] {
    display: none;
}

.dashboard__entry .panel-body {
    min-height: 447px;
}

[v-cloak] {
    display: none;
}

.projects-page .container {
    min-height: 100vh;
}

/**
    Navbar collapse fix
 */

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        text-align: center;
        border: none;
        background: #fff;
        margin-top: 5px;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.header {
    background: url("../video/videoplayback-alt.jpg") no-repeat;
    background-size: cover;
}

.yt-player {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.yt-player iframe {
    height:100%;
    width:100%;
    transform: scale(1.2);
    position:absolute;
    top:0;
    left:0;
    display: none;
}
