/**
* @template:  Beidea

TABLE OF CONTENTS

	* Global
		+ Navbar
		+ Header
		+ Hero
		+ Us
		+ Team
		+ Numbers
		+ Services
		+ Portfolio
		+ clients
		+ Price
		+ Blog
		+ Contact
		+ Map
		+ Footer

*/
@import url(./main.css);

/* -------------------------------------------------------
                     Global
-------------------------------------------------------- */
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #111;
    font-weight: 400;
}

.section-padding {
    padding: 100px 0;
}

p, .sg-text {
    color: #777;
    line-height: 1.8;
    font-size: 16px;
}

.section-head {
    margin-bottom: 80px;
}

.section-head h6 {
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #DC143C;
    margin-bottom: 15px;
}

.section-head h4 {
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.btn-bg-md {
    border: 1px solid #DC143C;
    background: #DC143C;
}

.btn-bg-md:hover,
.btn-bord-md:hover {
    /*border-color: #DC143C;
    color: #DC143C;
    background: transparent;*/
}

/* -------------------------------------------------------
                     Navbar
-------------------------------------------------------- */
.navbar-default {
    padding: 20px 0 30px;
    background: none;
    border: none;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.navbar-default .navbar-brand {
    font-weight: 900;
    font-size: 35px;
    color: #DC143C;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-brand:hover {
    color: #DC143C;
}

.navbar-default .navbar-brand span {
    font-weight: 100;
    color: #eee;
    font-family: "Source Sans Pro", sans-serif;
}

.navbar-default .navbar-nav > li > a {
    margin: 0 !important;
    color: #FFFFFF;
    padding: 0 !important;
}

.navbar-default .navbar-nav > li {
    font-size: 16px;
    margin: 25px 20px 0;
    padding: 5px 10px;
    background: none;
    cursor: pointer;
    position: relative;
}

.navbar-default .navbar-nav > li .active {
    color: #DC143C !important;
    background: none;
}

.nav-scroll {
    background: #fff;
    box-shadow: 0px 0px 10px #f1f1f1;
    min-height: 60px;
    line-height: 60px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .5s;
}

.nav-scroll .navbar-brand span {
    display: none;
}

.nav-scroll .navbar-nav > li > a {
    color: #111 !important;
}

.not-home-menu > li > a {
    color: #000000 !important;
}

/* -------------------------------------------------------
                    Header
-------------------------------------------------------- */
.header {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header .header-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index:2;
}

.header .caption {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.header .caption h3 {
    margin-bottom: 20px;
    font-weight: 100;
}

.header .caption h2 {
    margin-bottom: 50px;
    font-weight: 200;
}

.header .caption .button {
    margin: 0 2px 0;
}

.header .button-scroll {
    position: absolute;
    bottom: 5vh;
    left: calc(50% - 13px);
    width: 26px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #fff;
    cursor: auto;
    z-index: 9;
}

.header .button-scroll span {
    height: 10px;
    width: 2px;
    position: absolute;
    left: calc(50% - 1px);
    background: #fff;
    -webkit-animation: scroll .5s infinite alternate;
    -moz-animation: scroll .5s infinite alternate;
    animation: scroll .5s infinite alternate;
}

@keyframes scroll {
    0% {
        top: 50%;
    }
    50% {
        top: 55%;
    }
    100% {
        top: 60%;
    }
}

@-webkit-keyframes scroll {
    0% {
        top: 50%;
    }
    50% {
        top: 55%;
    }
    100% {
        top: 60%;
    }
}

@-moz-keyframes scroll {
    0% {
        top: 50%;
    }
    50% {
        top: 55%;
    }
    100% {
        top: 60%;
    }
}

.header.demo1 {
    background-image: url("http://via.placeholder.com/1920x1080");
}

/* -------------------------------------------------------
                    Hero
-------------------------------------------------------- */
.hero {
    padding-bottom: 0;
}

/* -------------------------------------------------------
                    Us
-------------------------------------------------------- */
.us {
    background: #fafafa;
    text-align: center;
}

.us .item {
    padding: 50px 30px;
    background: #fff;
    box-shadow: 0px 0px 5px #eee;
}

.us .item span {
    font-size: 40px;
    color: #DC143C;
    margin-bottom: 30px;
}

.us .item h6 {
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
    letter-spacing: 1px;
}

.us .item h6:after {
    content: "";
    width: 50px;
    height: 1px;
    background: #DC143C;
    position: absolute;
    bottom: 0;
    left: calc(50% - 25px);
}

/* -------------------------------------------------------
                     Team
-------------------------------------------------------- */
.team .team-item {
    position: relative;
}

.team .team-item:hover .info {
    opacity: 1;
}

.team .team-item .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    opacity: 0;
    transition: all .5s;
}

.team .team-item .info h6 {
    font-weight: 300;
    color: #DC143C;
    margin-bottom: 10px;
}

.team .team-item .info h5 {
    font-weight: 200;
    margin-bottom: 30px;
}

.team .team-item .info span {
    margin: 0 10px 0;
}

.team .team-item .info span:hover {
    color: #DC143C;
}

.team .why-us {
    padding: 100px 0 0;
}

.team .why-us h4 {
    margin-bottom: 30px;
}

.team .why-us .button {
    margin-top: 40px;
}

.team .skills {
    padding: 100px 0 0;
}

.team .skills .item h6 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 10px 10px;
}

.team .skills .item .skills-progress {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    margin-bottom: 30px;
    background: #fafafa;
}

.team .skills .item .skills-progress span {
    width: 0;
    height: 100%;
    border-radius: 30px;
    background: #DC143C;
    position: relative;
    transition: all .5s;
}

.team .skills .item .skills-progress span:after {
    content: attr(data-value);
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    background: #fafafa;
    position: absolute;
    top: 1px;
    right: -5px;
}

/* -------------------------------------------------------
                    Numbers
-------------------------------------------------------- */
.numbers {
    background-image: url("../../public/img/tech_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: #fff;
}

.numbers:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.numbers .container {
    position: relative;
    z-index: 2;
}

.numbers .numb-item span {
    color: #DC143C;
    font-size: 40px;
    margin-bottom: 20px;
}

.numbers .numb-item h3 {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.numbers .numb-item h3:after {
    content: "";
    width: 30px;
    height: 1px;
    background: #DC143C;
    position: absolute;
    bottom: 0;
    left: calc(50% - 15px);
}

.numbers .numb-item h6 {
    color: #eee;
}

/* -------------------------------------------------------
                    Services Tabs
-------------------------------------------------------- */
.services {
    padding-bottom: 0;
}

.services .tabs-icon li {
    display: inline-block;
    padding: 0 40px;
    margin-bottom: 80px;
    cursor: pointer;
    color: #888;
    position: relative;
}

.services .tabs-icon li:before {
    content: "";
    width: 1px;
    height: 90%;
    background: #eee;
    position: absolute;
    top: 5%;
    right: 0;
}

.services .tabs-icon li:last-child:before {
    display: none;
}

.services .tabs-icon li:after {
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fafafa;
    position: absolute;
    bottom: -90px;
    left: calc(50% - 20px);
    display: none;
}

.services .tabs-icon li span {
    font-size: 30px;
    margin-bottom: 15px;
}

.services .tabs-icon li h6 {
    font-size: 16px;
    text-transform: uppercase;
}

.services .tabs-icon .active {
    color: #DC143C;
}

.services .tabs-icon .active:after {
    display: block;
}

.services .services-content {
    min-height: 350px;
    padding: 80px 0;
    background: #fafafa;
}

.services .services-content .item {
    display: none;
}

.services .services-content .item .icon {
    font-size: 180px;
    color: #f4f4f4;
}

.services .services-content .item h5 {
    color: #222;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 300;
}

.services .services-content .active {
    display: block;
}

/* -------------------------------------------------------
                    Portfolio
-------------------------------------------------------- */
.portfolio {
    overflow: hidden;
}

.portfolio .filtering span {
    margin: 0px 10px;
    padding: 5px 10px;
    font-size: 16px;
    color: #777;
    cursor: pointer;
}

.portfolio .filtering .active {
    color: #DC143C;
}

.portfolio .item-img {
    padding: 0px;
    position: relative;
}

.portfolio .item-img .item-img-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    overflow: hidden;
    transition: all .5s;
    color: #fff;
}

.portfolio .item-img .item-img-overlay:hover {
    opacity: 1;
}

.portfolio .item-img .item-img-overlay h6 {
    margin-bottom: 20px;
}

.portfolio .item-img .item-img-overlay .icon a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 5px;
    font-size: 14px;
    border: 1px solid #eee;
}

/* -------------------------------------------------------
                    v1-clients
-------------------------------------------------------- */
.clients {
    background-image: url("../../public/img/client_reviews_bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.clients:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.clients .container {
    position: relative;
    z-index: 2;
}

.clients .client-say {
    color: #fff;
}

.clients .client-say span {
    font-size: 40px;
    margin-bottom: 30px;
    color: #DC143C;
}

.clients .client-say h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    margin-bottom: 50px;
}

.clients .client-say .client-item p {
    font-size: 18px;
    color: #ccc;
    font-style: italic;
    font-family: "Raleway", sans-serif;
    margin-bottom: 30px;
}

.clients .client-say .client-item h6 {
    font-size: 14px;
    color: #DC143C;
    margin-bottom: 10px;
}

.clients .client-say .client-item h5 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.clients .owl-theme .owl-dots span {
    width: 2px;
    height: 10px;
    background: #eee;
    margin: 0 5px;
}

.clients .owl-theme .owl-dots .active span {
    height: 18px;
    background: #DC143C;
}

/* -------------------------------------------------------
                    Price
-------------------------------------------------------- */
.price .prc-item {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 30px;
}

.price .prc-item .type {
    padding-bottom: 30px;
}

.price .prc-item .type h5 {
    font-size: 22px;
    text-transform: uppercase;
}

.price .prc-item .main-price {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 30px 0;
    margin-bottom: 25px;
}

.price .prc-item .main-price h1 {
    display: inline-block;
    position: relative;
    padding-right: 30px;
    margin-right: 30px;
}

.price .prc-item .main-price h1:after {
    content: "";
    height: 100%;
    width: 1px;
    background: #888;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(-20deg);
}

.price .prc-item .main-price h1 span {
    font-size: 20px;
}

.price .prc-item .main-price .per {
    font-size: 20px;
}

.price .prc-item .features p {
    padding: 2px 0;
    font-size: 16px;
}

.price .prc-item .features p .icon {
    margin-right: 10px;
}

.price .button {
    border: 1px solid #222;
    background: #222;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
    margin: 30px auto 0;
}

.price .active {
    border-color: #DC143C;
    background: #DC143C;
}

.price .active h1 {
    color: #fff;
}

.price .active h1:after {
    background: #fff !important;
}

.price .active h5, .price .active p, .price .active span {
    color: #fff;
}

.price .active .button {
    background: #fff;
    border-color: #fff;
    color: #DC143C;
}

/* -------------------------------------------------------
                    Blog
-------------------------------------------------------- */
.blog {
    background: #fafafa;
}

.blog .post-content {
    padding: 30px 20px 15px;
    background: #fff;
}

.blog .post-content h6 {
    margin-bottom: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

.blog .post-content p {
    color: #999;
}

.blog .post-content a span {
    color: #DC143C;
    margin: 0 auto 15px;
    font-size: 14px;
}

.blog .post-content .info {
    padding-top: 15px;
    border-top: 1px solid #eee;
}

.blog .post-content .info li {
    display: inline-block;
    margin: 0 10px -15px 0;
    padding: 0;
    font-size: 12px;
    color: #888;
}

.blog .post-content .info li span {
    padding-right: 4px;
    color: #DC143C;
}

/* -------------------------------------------------------
                    Contact
-------------------------------------------------------- */
.contact .info {
    margin-bottom: 80px;
}

.contact .info .item {
    text-align: center;
}

.contact .info .item .icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.contact .info .item h6 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact .main-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #eee;
    background: #fafafa;
    margin-bottom: 15px;
}

.contact .main-form input[type="submit"] {
    background: #DC143C;
    transition: all .5s;
}

.contact .main-form textarea {
    width: 100%;
    height: 140px;
    max-width: 100%;
    max-height: 140px;
    padding: 10px;
    background: #fafafa;
    border: 1px solid #eee;
}

/* -------------------------------------------------------
                    Map
-------------------------------------------------------- */
.map {
    margin: 0 auto;
}

.map .map-toggle {
    padding: 20px 0;
    text-align: center;
    background: #f1f1f1;
    cursor: pointer;
}

.map .map-toggle span {
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    padding-right: 10px;
}

.map .map-toggle span:after {
    content: "\f106";
    font-family: "FontAwesome";
    color: #DC143C;
    position: absolute;
    right: -10px;
}

.map .map-toggle .open:after {
    content: "\f107";
}

.map .map-loc {
    height: 400px;
    display: none;
}

.map .map-loc iframe {
    width: 100%;
    height: 100%;
}

/* -------------------------------------------------------
                    Footer
-------------------------------------------------------- */
footer {
    background: #111;
    color: #fff;
}

footer .main-footer {
    padding: 80px 0;
}

footer .main-footer .footer-logo {
    font-weight: 100;
    font-size: 35px;
    color: #eee;
    margin-bottom: 30px;
}

footer .main-footer .footer-logo span {
    font-weight: 900;
    color: #DC143C;
    font-family: 'Montserrat', sans-serif;
}

footer .main-footer .social-icon span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #888;
    background: #151515;
    transition: all .5s;
}

footer .main-footer .social-icon span:hover {
    background: #DC143C;
    color: #fff;
}

footer .sub-footer {
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid #151515;
}

/*# sourceMappingURL=style.css.map */

#home video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}

#home img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}

.multiselect__option--highlight{
    background-color: #73ae20 !important;
}

.multiselect__option--highlight:after{
    background-color: #73ae20 !important;
}

span.custom__tag {
    padding-bottom: 8px;
}
