.vacancy {
    margin: 0 5px 35px 5px;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.vacancy__item {
    background-color: #fff;
    position: relative;
    box-shadow: 0 2px 2px 1px #e9e9e9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.vacancy__content {
    padding: 30px 20px 15px;
}

.vacancy__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 5.4em;
    color: #999;
}

.vacancy__content h6 {
    margin-bottom: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

.vacancy__content span {
    display: block;
    margin: 13px 0;
}

.vacancy-description {
    text-align: justify;
}

.vacancy-description span {
    display: inline;
}

.vacancy-description ul li::before {
    content: "\f00c ";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vacancy-description ul li p {
    display: inline;
}
