<template>
  <div class="form-group">
    <label style="display: block;">{{ label }}</label>
    <img
      v-if="value"
      :src="value"
      style="max-height: 200px; width: auto; margin-bottom: 10px;"
    >
    <input
      v-if="required"
      @input="handleInput"
      type="file"
      class="form-control"
      required
    >
    <input
      v-else
      @input="handleInput"
      type="file"
      class="form-control"
    >
  </div>
</template>

<script>
export default {
  name: 'ImageInput',
  props: {
    label: String,
    value: String,
    required: Boolean
  },
  methods: {
    handleInput(event) {
      const file = event.target.files[0];
      const fileReader = new FileReader();

      fileReader.onload = ev => {
        this.$emit('input', ev.target.result);
      };

      fileReader.readAsDataURL(file);
    }
  }
};
</script>

<style scoped>

</style>
