<template>
  <div rel="multiselect">
    <label>{{ label }}</label>
    <div class="panel panel-default">
      <div class="panel-body">
        <div v-if="selected.length">
          <div
            v-for="(item, key) in selected"
            class="label label-info admin-tag"
          >
            {{ item.name }}
            <div
              @click="selected.splice(key, 1)"
              class="badge"
            >
              &times;
            </div>
          </div>
        </div>
        <span v-else>There is no items ;(</span>
      </div>
      <div class="panel-footer">
        <select
          v-model="selectedItem"
          class="form-control"
          style="width: auto; display: inline-block"
        >
          <option
            :selected="key === 0"
            :value="key"
            v-for="(item, key) in items"
          >
            {{ item.name }}
          </option>
        </select>
        <button
          @click.prevent="pushItem"
          class="btn btn-success pull-right"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MultiSelect',
  props: {
    label: String,
    items: Array,
    selected: Array,
  },
  data() {
    return {
      selectedItem: Number,
    };
  },
  methods: {
    pushItem() {
      const selectedItem = this.items[this.selectedItem];
      for (const selected of this.selected) if (selected.id === selectedItem.id) return;
      this.selected.push(selectedItem);
    },
  },
};
</script>
