<template>
  <div>
    <h6 class="green">
      {{ title }}
    </h6>
    <multiselect
      v-model="inputVal"
      :options="options"
      :multiple="true"
      :close-on-select="false"
      :clear-on-select="false"
      :hide-selected="true"
      :preserve-search="true"
      placeholder="Pick some"
      label="name"
      track-by="name"
    >
      <template
        slot="tag"
        slot-scope="props"
      >
        <span class="custom__tag">
          <span class="inline">{{ props.option.name }}</span>
          <span
            @click="props.remove(props.option)"
            class="custom__remove inline"
            title="remove"
          >×</span>
        </span>
      </template>
    </multiselect>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';

export default {
  name: 'ProjMultiselect',
  components: {
    Multiselect,
  },
  props: {
    title: String,
    options: Array,
    value: Array,
  },
  data() {
    return {
      inputVal: this.value,
    };
  },
  watch: {
    inputVal(val) {
      this.$emit('input', val);
    },
  },
};
</script>

<style scoped>
    .custom__tag {
        vertical-align: middle;
    }

    .inline {
        display: inline;
    }

    .custom__remove {
        color: #73ae20 !important;
        font-size: 15px;
        cursor: pointer !important;
        margin-right: 15px;
        font-weight: bold;
    }

    h6 {
        margin-bottom: 5px;
    }
</style>
