<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
<![endif]-->

<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="">
<![endif]-->

<!--[if IE 8]>
<html class="no-js lt-ie9" lang="">
<![endif]-->

<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Softgrad is a Digital Agency">
    <meta name="keywords" content="portfolio, corporate, business, creative, agency, development">
    <title>Softgrad | Home</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://cdn.rawgit.com" crossorigin>
    <link rel="preconnect" href="https://www.google.com" crossorigin>
    <link rel="preconnect" href="https://www.gstatic.com" crossorigin>
    <link rel="stylesheet" href="public/css/app.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="page-layout">
        <div class="svg-sprite">
            <svg xmlns="http://www.w3.org/2000/svg">
                <symbol id="icon-logo" viewBox="0 0 50 50"><title>&#x420;&#x435;&#x441;&#x443;&#x440;&#x441; 2</title>
                    <g id="&#x421;&#x43B;&#x43E;&#x439;_2" data-name="&#x421;&#x43B;&#x43E;&#x439; 2">
                        <g id="&#x421;&#x43B;&#x43E;&#x439;_1-2" data-name="&#x421;&#x43B;&#x43E;&#x439; 1">
                            <circle cx="25" cy="25" r="25"/>
                            <path class="cls-1"
                                  d="M21.46 38.53H20.2a3.61 3.61 0 0 1-2.7-1.07 4.21 4.21 0 0 1-1-3.07v-5.67a2 2 0 0 0-.5-1.45 1.63 1.63 0 0 0-1.25-.53h-.84v-2.31h.84a1.62 1.62 0 0 0 1.25-.54 2.09 2.09 0 0 0 .5-1.47v-5.76a4.27 4.27 0 0 1 1-3.06 3.55 3.55 0 0 1 2.7-1.11h1.26v2.31h-.84a1.64 1.64 0 0 0-1.25.52 2 2 0 0 0-.5 1.46v5.55A3.68 3.68 0 0 1 18 25a3.53 3.53 0 0 1-1 .58 1.91 1.91 0 0 1 1 .58 3.62 3.62 0 0 1 .87 2.64v5.46a2 2 0 0 0 .5 1.43 1.65 1.65 0 0 0 1.25.52h.84zM36.4 26.74h-.84a1.58 1.58 0 0 0-1.23.53 2.08 2.08 0 0 0-.48 1.45v5.67a4.23 4.23 0 0 1-1.08 3 3.55 3.55 0 0 1-2.7 1.11h-1.26v-2.28h.84a1.69 1.69 0 0 0 1.28-.52 2 2 0 0 0 .5-1.43V28.8a3.63 3.63 0 0 1 .84-2.64 4 4 0 0 1 1-.58 2.23 2.23 0 0 1-1-.58 3.69 3.69 0 0 1-.84-2.67v-5.55a2 2 0 0 0-.5-1.46 1.68 1.68 0 0 0-1.28-.52h-.84v-2.31h1.26a3.6 3.6 0 0 1 2.7 1.08 4.25 4.25 0 0 1 1.08 3.09v5.76a2.14 2.14 0 0 0 .48 1.47 1.57 1.57 0 0 0 1.23.54h.84z"/>
                        </g>
                    </g>
                </symbol>
            </svg>
        </div>

        <nav class="navbar navbar-default">
            <div class="container">
                <div :class="navbarClasses">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#nav-icon-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <div class="logotype">
                            <svg class="icon icon-logo">
                                <use xlink:href="#icon-logo"></use>
                            </svg>
                        </div>
                        <h1 class="text">Softgrad</h1>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="nav-icon-collapse">
                    <ul :class="navbarMenuClasses">
                        <li>
                            <a href="./">Home</a>
                        </li>
                        <li>
                            <a href="./#services">Services</a>
                        </li>
                        <li>
                            <a href="./#reviews">Reviews</a>
                        </li>
                        <li>
                            <a href="./#contact">Contact</a>
                        </li>
                        <li>
                            <a href="./projects">Portfolio</a>
                        </li>
                        <li>
                            <a href="./vacancies">Vacancies</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="admin-page">
            <div class="blog section-padding">
                <div class="admin-page__auth-form mt-40" v-if="!isAuthorized">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Please sign in</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div v-if="loginError" class="alert alert-danger">
                                            {{ loginError }}
                                        </div>
                                        <form accept-charset="UTF-8" @submit.prevent="authorize" role="form">
                                            <fieldset>
                                                <div class="form-group">
                                                    <input class="form-control" v-model="login" placeholder="Login"
                                                           name="login"
                                                           type="text">
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" v-model="password" placeholder="Password"
                                                           name="password"
                                                           type="password" value="">
                                                </div>
                                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admin-page__dashboard mt-40" v-else>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 mb-40">
                                <ul class="nav nav-pills">
                                    <li class="active"><a data-toggle="tab" href="#gallery">Gallery</a></li>
                                    <li><a data-toggle="tab" href="#projects">Projects</a></li>
                                    <li><a data-toggle="tab" href="#vacancies">Vacancies</a></li>
                                </ul>
                            </div>
                            <div class="col-md-12 tab-content">
                                <div id="gallery" class="tab-pane fade in active">
                                    <form @submit.prevent="addPhoto" ref="photoForm">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input v-if="photoForm.id" type="hidden" v-model="photoForm.id">

                                                <ImageInput label="Image" :required="!photoForm.original"
                                                             v-model="photoForm.original"></ImageInput>

                                                <div class="form-group">
                                                    <label>Alt</label>
                                                    <input type="text" v-model="photoForm.alt" class="form-control"
                                                           required>
                                                </div>

                                                <div class="form-group">
                                                    <input type="submit" class="btn btn-success" value="Submit">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <hr>
                                    <div v-for="(photo, key) in photos" class="panel panel-default">
                                        <div class="panel-body">
                                            <img :src="photo.original" style="max-height: 200px; width: auto;">
                                            <p>{{ photo.alt }}</p>
                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-info" @click.prevent="movePhotoUp(key)">Up</button>
                                            <button class="btn btn-info" @click.prevent="movePhotoDown(key)">Down
                                            </button>

                                            <button class="btn btn-danger pull-right"
                                                    @click.prevent="removePhoto(key)">
                                                Remove
                                            </button>

                                            <button class="btn btn-warning pull-right" style="margin-right: 3px"
                                                    @click.prevent="editPhoto(key)">
                                                Edit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="projects" class="tab-pane fade">
                                    <form @submit.prevent="addProject" ref="projectForm">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input v-if="projectForm.id" type="hidden" v-model="projectForm.id">

                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" v-model="projectForm.name" class="form-control"
                                                           required>
                                                </div>

                                                <div class="form-group">
                                                    <label>Short Description</label>
                                                    <input type="text" v-model="projectForm.description"
                                                           class="form-control" required>
                                                </div>

                                                <div class="form-group">
                                                    <label>Full Description</label>
                                                    <textarea v-model="projectForm.full_description"
                                                              class="form-control" required></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <ImageInput label="Image" v-model="projectForm.img"
                                                                :required="!projectForm.img"></ImageInput>
                                                </div>

                                                <div class="form-group">
                                                    <label>Team</label>
                                                    <input v-model="projectForm.team" type="text" class="form-control"
                                                           required>
                                                </div>

                                                <div class="form-group">
                                                    <label>Country</label>
                                                    <input v-model="projectForm.country" type="text" class="form-control"
                                                           required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <MultiSelect label="Technologies" :items="projectsMeta.technologies"
                                                             :selected="projectForm.technologies"></MultiSelect>
                                                <MultiSelect label="Project Types" :items="projectsMeta.project_types"
                                                             :selected="projectForm.project_types"></MultiSelect>
                                                <MultiSelect label="Industries" :items="projectsMeta.industries"
                                                             :selected="projectForm.industries"></MultiSelect>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="submit" class="btn btn-success" value="Submit  ">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <hr>
                                    <div v-for="(project, key) in projects" class="panel panel-default">
                                        <div class="panel-body">
                                            <img :src="project.img" style="max-height: 200px; width: auto;">
                                            <div>Name: {{ project.name }}</div>
                                            <div>Short description: {{ project.description }}</div>
                                            <div v-if="project.team">Team: {{ project.team }}</div>
                                            <div v-if="project.country">Country: {{ project.country }}</div>
                                            <div v-if="project.technologies.length">Technologies:
                                                <span v-for="item in project.technologies"
                                                      class="label label-info admin-tag">{{ item.name }}</span>
                                            </div>
                                            <div v-if="project.project_types.length">Project Types:
                                                <span v-for="item in project.project_types" v-if="item !== null"
                                                      class="label label-info admin-tag">{{ item.name }}</span>
                                            </div>
                                            <div v-if="project.industries.length">Industries:
                                                <span v-for="item in project.industries" class="label label-info admin-tag">{{ item.name }}</span>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-info" @click.prevent="moveProjectUp(key)">Up</button>
                                            <button class="btn btn-info" @click.prevent="moveProjectDown(key)">Down</button>

                                            <button class="btn btn-danger pull-right" @click.prevent="removeProject(key)">
                                                Remove
                                            </button>

                                            <button class="btn btn-warning pull-right" style="margin-right: 3px"
                                                    @click.prevent="editProject(key)">
                                                Edit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="vacancies" class="tab-pane fade">
                                    <form @submit.prevent="addVacancy" ref="vacancyForm">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input v-if="vacancyForm.id" type="hidden" v-model="vacancyForm.id">

                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" v-model="vacancyForm.name" class="form-control"
                                                           required>
                                                </div>

                                                <div class="form-group">
                                                    <label>Short Description</label>
                                                    <input type="text" v-model="vacancyForm.description"
                                                           class="form-control" required>
                                                </div>

                                                <div class="form-group">
                                                    <label>Full Description</label>
                                                    <editor
                                                            api-key="no-api-key"
                                                            v-model="vacancyForm.full_description"
                                                            :init="{
                                                                 height: 500,
                                                                 menubar: false,
                                                                 plugins: [
                                                                   'autolink lists link charmap print preview anchor',
                                                                   'searchreplace visualblocks code fullscreen',
                                                                   'paste help'
                                                                 ],
                                                                 toolbar:
                                                                   'undo redo | formatselect | ' +
                                                                   'bold italic backcolor | ' +
                                                                   'bullist numlist outdent indent | ' +
                                                                   'removeformat | code | help',
                                                                 valid_elements: 'a,b,i,s,u,strong,em,pre,span,br,p,h1,h2,h3,h4,h5,h6,ul,ol,li',
                                                             }"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="submit" class="btn btn-success" value="Submit  ">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <hr>
                                    <div v-for="(vacancy, key) in vacancies" class="panel panel-default">
                                        <div class="panel-body">
                                            <div>Name: {{ vacancy.name }}</div>
                                            <div>Short description: {{ vacancy.description }}</div>
                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-info" @click.prevent="moveVacancyUp(key)">Up</button>
                                            <button class="btn btn-info" @click.prevent="moveVacancyDown(key)">Down</button>

                                            <button class="btn btn-danger pull-right" @click.prevent="removeVacancy(key)">
                                                Remove
                                            </button>

                                            <button class="btn btn-warning pull-right" style="margin-right: 3px"
                                                    @click.prevent="editVacancy(key)">
                                                Edit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="main-footer text-center">
                <div class="logo" style="justify-content: center;margin:0px;">
                    <div class="logotype">
                        <svg class="icon icon-logo">
                            <use xlink:href="#icon-logo"></use>
                        </svg>
                    </div>
                    <h1 class="text">Softgrad</h1>
                </div>
                <div class="social-icon">
                    <a href="//www.facebook.com/Softgrad/" target="_blank"
                       rel="nofollow noopener">
                    <span>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </span>
                    </a>
                    <a href="//vk.com/public170418091" target="_blank" rel="nofollow noopener">
                    <span>
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </span>
                    </a>
                </div>
            </div>
            <div class="sub-footer">
                <p>&copy; Softgrad 2024 | All rights reserved</p>
            </div>
        </footer>
    </div>
</div>
</body>
<script src="tinymce/tinymce.min.js"></script>
<script src="public/js/admin.js?v=2"></script>
</html>
