<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
<![endif]-->

<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="">
<![endif]-->

<!--[if IE 8]>
<html class="no-js lt-ie9" lang="">
<![endif]-->

<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Softgrad is a Digital Agency">
    <meta name="keywords" content="portfolio, corporate, business, creative, agency, development">
    <title>Softgrad | Home</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://cdn.rawgit.com" crossorigin>
    <link rel="preconnect" href="https://www.google.com" crossorigin>
    <link rel="preconnect" href="https://www.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/public/css/app.css?<%- htmlWebpackPlugin.options.version %>">
</head>
<body>
<div id="app" v-cloak>
    <layout></layout>
</div>
</body>
<script src="/public/js/vendor.js?<%- htmlWebpackPlugin.options.version %>"></script>
<script src="/public/js/app.js?<%- htmlWebpackPlugin.options.version %>"></script>
</html>
